@model IEnumerable<Sweet_Shop_Management.Models.SweetItem>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="text-center">Welcome to Sweet Shop</h1>
    <p class="text-center">
        Discover our collection of delicious sweets and manage your sales!
    </p>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">             
                        <div class="card-body">
                        <h5 class="card-title text-warning-emphasis">@item.ItemName</h5>
                        <p class="card-text">
                            <strong class="text-warning-emphasis">Price Per Kg:</strong>@($" {item.Price} {item.Currency}")<br />
                            <strong class="text-warning-emphasis">Total Quantity:</strong> @item.TotalQuantity @item.Unit <br />@* 
                            <strong>Remaining Quantity:</strong> @item.RemainingQuantity @item.Unit <br /> *@
                            <strong class="text-warning-emphasis">Final Cost:</strong> @($" {item.FinalCost} {item.Currency}")
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-controller="SweetShop" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
